            <div class="wrapper">
                <!-- Sidebar  -->
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="sidebar-header">
                        <h3>E-parking</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="/userdashboard">User Dashboard</a>
                                </li>
                                <li>
                                    <a href="/slotsdashboard">Slot Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <% if(!currentUser){ %>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <% }else{ %>
                        <li>
                            <a href="/editprofile">Edit profile</a>
                        </li>
                        <li>
                            <a href="/currentbookings">Current Bookings</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                        <% }  %>
                    </ul>
                </nav>
          
        <!-- Top nav -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="anu">
                       <h3>Smart park</h3>
                    </div>
                </div>
            </nav>