            <div class="wrapper">
                <!-- Sidebar  -->
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="sidebar-header">
                        <h3>E-parking</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">User Dashboard</a>
                                </li>
                                <li>
                                    <a href="#">Slot Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/signup">Signup</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/forgot">Change Password</a>
                        </li>
                    </ul>
                </nav>