<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Smart parking</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/landing.css">
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <i class="fa fa-car" aria-hidden="true"></i> <b>Smart Park</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#top">HOME
                <span class="sr-only">(current)</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">TEAM</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h1>SMART PARKING</h1>
          <p>
            We save your money and time and make you feel comfortable all around your trip.
          </p>
          <a class="btn btn-light px-5 py-2 primary-btn" href="#button">Let's book a slot</a>>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
          <img src="images/header-img.jpg" alt="Book" />
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="section-1">
      <div class="container text-center" id="about">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="images/pexels-photo-1904769.jpg" alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left">
              <h1>What we have analysed</h1>
              <p class="pt-4">
                According to research done by enthusiastic talented individuals, Pilots of the vehicles of road transportation are consuming the time on an average of 200 hours a year to get their car parked. In the figure of the total, 42% of the appointments are being canceled, Due to the inadequacy of the parking area. That’s nearly equal to “1.617 billion” people, who lost their appointments due to the fact that they can’t park their vehicles at the desired time. Consider, if an appointment is equal to 2$(assumption) then the total amount lost by the citizens is about “3.234 billion dollars” or even more if the price changes.
              </p>
              <p>
                So, To avoid this minimum loss of “3 billion dollars”, We came up with a conclusion solution by developing a user-friendly, responsive, graphical-user interface website. Which makes searching for free and available parking slots for users in a parking area of their desired locality. Where, the users can pre-book their parking slots at their desired time so that the parking will be a cake-walk at the peak working hours by using the service provided by this website without spending a penny on it and saving billions of dollars in total.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center" id="service">
          <h1>Unique from others</h1>
          <p>
            Our team has an experience of ....
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>12105</h1>
            <p>Parking slots Booked</p>
          </div>
          <div class="rect">
            <h1>9742</h1>
            <p>Happy Clients</p>
          </div>
          <div class="rect">
            <h1>6784</h1>
            <p>Dollars saved(in Hundreds)</p>
          </div>
          <div class="rect">
            <h1>1056</h1>
            <p>Time Saved(in Hours)</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Access Our Application over Multiple Platforms</h1>
          <p>
            Users from across the globe can access our website through multiple platforms connected to internet. We are working on connecting with users offline.
          </p>
        </div>
      </div>
      <div class="platform row">
        <div class="col-md-6 col-sm-12 text-right">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Desktop</h3>
                <p class="p-0 m-0">On Website</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 text-left">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">On Mobile(IOS, ANDRIOD)</h3>
                <p class="p-0 m-0">On Website</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Our Team</h1>
        <p class="text-secondary">We have the best individuals, teamed up to provide you the best service.</p>
      </div>
      <div class="team row " id="team">
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="images/UI-face-3.jpg" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Gaddam Harshavardhan</h3>
                  <p class="card-text">
                    Researcher and engrossed in the fields of Cybersecurity, Fullstack-Web Development.
                  </p>
                  <a href="#" class="text-secondary text-decoration-none">Backend Developer</a>
                  <p class="text-black-50">Junior of Sathyabama University, Chennai</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center">
                  <div class="carousel-item active">
                    <div class="card mr-2 d-inline-block shadow">
                      <div class="card-img-top">
                        <img src="images/UI-face-1.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Kancharala Narayan Pavan</h3>
                        <p class="card-text">
                          Researcher and engrossed in the field of Fullstack-Web Development.
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Frontend Developer</a>
                        <p class="text-black-50">Junior of Sathyabama University, Chennai</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card  d-inline-block mr-2 shadow">
                      <div class="card-img-top">
                        <img src="images/UI-face-2.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Gurrala Sairam Reddy</h3>
                        <p class="card-text">
                          Researcher and engrossed in the field of Fullstack-Web Development.
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Frontend Developer</a>
                        <p class="text-black-50">Junior of Sathyabama University, Chennai</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="images/UI-face-4.jpg" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Jakka Mithil Sai</h3>
                  <p class="card-text">
                    Researcher and engrossed in the fields of Machine learning, Frontend-Web Development.
                  </p>
                  <a href="#" class="text-secondary text-decoration-none">UI/UX and Frontend Developer</a>
                  <p class="text-black-50">Junior of Sathyabama University, Chennai</p>
                </div>
              </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">Finally...</h4>
          <div class="cb">
            <div class="vertical-center">
              <button class="btn btn-light px-5 py-2 primary-btn" id="button">
                <a href="/dashboard" >Book your slot</a>
              </button>
            </div>
          </div>
          <p class="text-muted">We want everyone to have their time saved.</p>
          <p class="text-muted"> Because, No amount of money ever bought a single second in Time.</p>
          <p class="pt-4 text-muted">Copyright ©2020 All rights reserved.
            <span>Bugs and Bits</span>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <script src="js/smooth-scroll.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>

</html>
