<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>E-parking</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Bootstrap CSS CDN -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
            <!-- Font Awesome JS -->
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
            <!-- Our Custom CSS -->
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/navbar.css">

        </head>
    <body>
        
<%- include("../partials/navbar") -%>

<!-- Page Content  -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="anu">
                <h3>E-parking</h3>
            </div>
        </div>
    </nav>
    <div class="std3">
        <div class="container header">
            <div class="row">
                <div class=" col-xs-6">
                    <div class=" panel panel-primary">
                        <div class="panel-body">
                                <form>    
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="New Password" name="New password">
                                    </div>
                                    <div class="form-group">
                                        <input type="Password" class="form-control" placeholder="Confirm Password" name="Confirm Password">
                                    </div>
                                    <a href="#" <button type="submit" name="Submit" class="btn btn-primary">Set</button></a>
                                </form><br/>
                        </diV>                      
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
</div>

<%- include("../partials/footer") -%>